---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1 class="text-2xl font-semibold"></h1>
    <p class="mt-4"></p>

    <video controls width="800" poster="/images/alex_dabrowska.png">
        <source
            src="https://bafybeifrfkifszyg22w2qrxurm2wjudshxzotpoty7myzcqbhtgmge7ebe.ipfs.flk-ipfs.xyz"
            type="video/mp4"
        />
        Your browser does not support the video tag.
    </video>
    <video controls width="800" poster="/images/Basia_Rostworowska.png">
        <source
            src="https://bafybeiemsxo7iz3nmmcdkt4poqy33ahhiy76jzq4pb75kfvchvn2cbq7ca.ipfs.flk-ipfs.xyz"
            type="video/mp4"
        />
        Your browser does not support the video tag.
    </video>
    <video controls width="800" poster="/images/Janusz_Gruchala.png">
        <source
            src="https://bafybeihrjvgushwyccs4avtsrmolws7b4hz566fjjsr632xhmcvo6ysqze.ipfs.flk-ipfs.xyz"
            type="video/mp4"
        />
        Your browser does not support the video tag.
    </video>
</Layout>
