---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="content-container">
    <p>Press About the Project</p>
    <p>
      The legacy of Krystyna Bednarczyk and her Poets&#39; and Painters&#39;
      Press continues to inspire researchers, literary enthusiasts, and artists
      alike. Our project, dedicated to unveiling her contributions to Polish and
      British cultural heritage, has garnered significant attention from
      academic circles and the press. Below, we highlight key publications and
      articles reflecting on Bednarczyk&#39;s remarkable impact.
    </p>
    <p>Academic and Media Coverage</p>
    <p>Scholarly Articles &amp; Publications</p>
    <ul>
      <li>
        <p>
          About Krystyna Bednarczyk and Her Poets&#39; and Painters\&#39; Press
          -- Contributions by Caryl Topolski, Magdalena Czajkowska, Aleksandra
          Dąbrowska, Mieczysława Wazacz, and Anna Frajlich. Featured in
          <em>Pamiętnik Literacki</em> (Vol. LXVI, December 2023, pp. 11-26), this
          collection of essays presents reflections from the International Symposium
          on Krystyna Bednarczyk, co-organised by the Research Centre on the Legacy
          of Polish Migration (ReCeLPM), the Union of Polish Writers Abroad (ZPPnO),
          University College London School of Slavonic and East European Studies
          (UCL SSEES), and the Polish University Abroad (PUNO).
        </p>
      </li>
      <li>
        <p>
          The Bednarczyk Duo and Their Poets&#39; and Painters&#39; Press. <em
            >Hidden Between Covers</em
          > -- Justyna Gorzkowicz explores the artistic and literary influence of
          the Bednarczyks in <em
            >Sztuka Edycji. Studia Tekstologiczne i Edytorskie</em
          > (2025, Vol. 26, Issue 2, pp. 63--75).
          <a href="https://doi.org/10.12775/SE.2024.0025"
            >[https://doi.org/10.12775/SE.2024.0025]</a
          >.
        </p>
      </li>
    </ul>
    <p>Press Features</p>
    <ul>
      <li>
        <p>
          A separate page fully dedicated to information about the project,
          <em>Pamiętnik Literacki</em> (Vol. LXVI, December 2023, p. 276).
        </p>
      </li>
      <li>
        <p>
          Katarzyna Zechenter, <em>Dla Krystyny Bednarczykowej</em>, <em
            >Tydzień Polski</em
          >, London (22.12.2023) -- A tribute to Krystyna Bednarczyk. Available
          via ZPPnO&#39;s website:
          <a
            href="https://www.zppno.org/aktualnosci/krystyna-bednarczyk-i-jej-oficyna/"
            >[https://www.zppno.org/aktualnosci/krystyna-bednarczyk-i-jej-oficyna/]</a
          >.
        </p>
      </li>
      <li>
        <p>
          Katarzyna Bzowska, <em>Krystyna i Feliks</em>, <em>Tydzień Polski</em
          >, London (17.05.2024) -- Exploring the life and work of Krystyna and
          Feliks Bednarczyk. Available at ZPPnO:
          <a
            href="https://www.zppno.org/aktualnosci/sladami-bednarczykow-i-feliksa-topolskiego/"
            >[https://www.zppno.org/aktualnosci/sladami-bednarczykow-i-feliksa-topolskiego/]</a
          >.
        </p>
      </li>
      <li>
        <p>
          <em>Unveiling the Heritage: Krystyna Bednarczyk (1923--2011)</em> -- Project
          introduction, <em>Polish Studies Newsletter</em>.
          <a
            href="https://www.biuletynpolonistyczny.pl/en/projects/unveiling-the-heritage-krystyna-bednarczyk-19232011-polish-poet-and-co-founder-of-poets-and-painters-press-in-london,1849/details"
            >[https://www.biuletynpolonistyczny.pl/en/projects/unveiling-the-heritage-krystyna-bednarczyk-19232011-polish-poet-and-co-founder-of-poets-and-painters-press-in-london,1849/details]</a
          >.
        </p>
      </li>
    </ul>
    <p>Events</p>
    <ul>
      <li>
        <em
          >Bednarczyk\&#39;s Press &amp; Feliks Topolski -- Guided Tour (UCL
          SSEES)</em
        >
        -- Information about the event, an introduction and invitation to participate
        in a meeting exploring the artistic and literary scene under the Waterloo
        Arcades.
        <a
          href="https://www.ucl.ac.uk/ssees/events/2024/may/bednarczyks-press-feliks-topolski-guided-tour"
          >[https://www.ucl.ac.uk/ssees/events/2024/may/bednarczyks-press-feliks-topolski-guided-tour]</a
        >.
      </li>
    </ul>
    <pre><code class="lang-{=html}"><span class="hljs-comment">&lt;!-- --&gt;</span>
</code></pre>
    <ul>
      <li>
        <p>
          <em>Małgorzata Witkowska, Krystyna Bednarczyk i jej Oficyna</em> -- Informative
          overview of Bednarczyk&#39;s publishing house. Available at:
          <a href="https://puno.ac.uk/krystyna-bednarczyk-i-jej-oficyna/"
            >[https://puno.ac.uk/krystyna-bednarczyk-i-jej-oficyna/]</a
          >.
        </p>
      </li>
      <li>
        <p>
          <em>Krystyna Bednarczyk and Her Poets and Painters\&#39; Press</em> --
          Information about the event, an introduction and invitation to participate
          in a symposium exploring the literary and artistic contributions of Krystyna
          and Czesław Bednarczyk, their publishing house, and their role in Polish
          émigré culture. <em>Polish Studies Newsletter</em>.
          <a
            href="https://www.biuletynpolonistyczny.pl/en/events/krystyna-bednarczyk-and-her-poets-and-painters-press,2955/details"
            >[https://www.biuletynpolonistyczny.pl/en/events/krystyna-bednarczyk-and-her-poets-and-painters-press,2955/details]</a
          >.
        </p>
      </li>
      <li>
        <p>
          <em>Waterloo Arcades. Guided Tour</em>. Information about the event,
          an introduction and invitation to participate in a meeting. <em
            >Polish Studies Newsletter</em
          >.
          <a
            href="https://biuletynpolonistyczny.pl/en/events/bednarczyks-press-and-feliks-topolski-artists-under-waterloo-arcades-guided-tour,3047/details"
            >[https://biuletynpolonistyczny.pl/en/events/bednarczyks-press-and-feliks-topolski-artists-under-waterloo-arcades-guided-tour,3047/details]</a
          >.
        </p>
      </li>
      <li>
        <p>
          Justyna Gorzkowicz &amp; Jarosław Solecki, <em
            >We Built the AR Heritage App for \&#39;Unveiling the Heritage of
            Krystyna Bednarczyk\&#39; Project!</em
          > -- A digital initiative to bring Bednarczyk&#39;s legacy to new audiences.
          <a href="https://bluepointart.uk/ar-heritage-app/"
            >[https://bluepointart.uk/ar-heritage-app/]</a
          >.
        </p>
      </li>
    </ul>
    <p>Event Materials Available for Download in PDF</p>
    <ul>
      <li>
        <p>
          Research Centre on the Legacy of Polish Migration in London. (2023).
          <em>Krystyna Bednarczyk Symposium -- Booklet</em>. Zenodo.
          <a href="https://doi.org/10.5281/zenodo.14941847"
            >[https://doi.org/10.5281/zenodo.14941847]</a
          >.
        </p>
      </li>
      <li>
        <p>
          Research Centre on the Legacy of Polish Migration in London. (2024).
          <em
            >Following the Footsteps of Krystyna Bednarczyk in London -- A
            Bilingual Heritage Map</em
          >. Zenodo.
          <a href="https://doi.org/10.5281/zenodo.14941790"
            >[https://doi.org/10.5281/zenodo.14941790]</a
          >.
        </p>
      </li>
    </ul>
    <p>International Conferences</p>
    <ul>
      <li>
        <em
          >Literatura w ruchu -- o działalności londyńskiego Związku Pisarzy
          Polskich</em
        > -- Justyna Gorzkowicz discusses Polish literature&#39;s global impact at
        the conference <em
          >Literatura polska w świecie. Światowe transfery literatury polskiej</em
        > (19--20 November 2024, University of Silesia).
      </li>
    </ul>
    <p>Stay Updated</p>
    <p>
      For the latest updates on the project, upcoming events, and newly
      published research, visit our official page:
      <a href="https://www.zppno.org/project-bednarczyk/"
        >https://www.zppno.org/project-bednarczyk/</a>
    </p>
    <p>
      Project videos available on Facebook:
      <a href="https://www.facebook.com/ZPPnO"
        >[https://www.facebook.com/ZPPnO]</a
      >.
    </p>
    <p>ZPPnO YouTube Channel:</p>
    <ul>
      <li>
        <p>
          <em>A Cross-Generational, Bilingual Literary and Artistic Workshop</em
          >:
          <a href="https://youtu.be/xpumjnBHfjY?si=3KkabnKXCpwZf_7E"
            >[https://youtu.be/xpumjnBHfjY?si=3KkabnKXCpwZf_7E]</a
          >.
        </p>
      </li>
      <li>
        <p>
          <em>Symposium Highlights</em>:
          <a href="https://youtu.be/sbppdjV2_O0?si=u-GtxJhgG6FiiShr"
            >[https://youtu.be/sbppdjV2_O0?si=u-GtxJhgG6FiiShr]</a>
        </p>
      </li>
    </ul>
    <br />
  </div>
  
</Layout>
