---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <style type="text/css">
        .container {
            max-width: 70vw; /* Limits text width to 70% of viewport width */
            margin: 0 auto; /* Centers the content */
            padding: 20px;
            text-align: justify; /* Optional: Justifies text for readability */
        }

        ul.lst-kix_list_1-0 {
            list-style-type: none;
        }

        .lst-kix_list_3-0 > li:before {
            content: "\0025cf   ";
        }

        ul.lst-kix_list_5-7 {
            list-style-type: none;
        }

        ul.lst-kix_list_5-8 {
            list-style-type: none;
        }

        .lst-kix_list_3-1 > li:before {
            content: "o  ";
        }

        .lst-kix_list_3-2 > li:before {
            content: "\0025aa   ";
        }

        ul.lst-kix_list_5-5 {
            list-style-type: none;
        }

        ul.lst-kix_list_5-6 {
            list-style-type: none;
        }

        .lst-kix_list_8-1 > li:before {
            content: "o  ";
        }

        .lst-kix_list_8-2 > li:before {
            content: "\0025aa   ";
        }

        ul.lst-kix_list_1-3 {
            list-style-type: none;
        }

        .lst-kix_list_3-5 > li:before {
            content: "\0025aa   ";
        }

        ul.lst-kix_list_5-0 {
            list-style-type: none;
        }

        ul.lst-kix_list_1-4 {
            list-style-type: none;
        }

        ul.lst-kix_list_1-1 {
            list-style-type: none;
        }

        .lst-kix_list_3-4 > li:before {
            content: "\0025aa   ";
        }

        ul.lst-kix_list_1-2 {
            list-style-type: none;
        }

        ul.lst-kix_list_5-3 {
            list-style-type: none;
        }

        ul.lst-kix_list_1-7 {
            list-style-type: none;
        }

        .lst-kix_list_3-3 > li:before {
            content: "\0025aa   ";
        }

        ul.lst-kix_list_5-4 {
            list-style-type: none;
        }

        ul.lst-kix_list_1-8 {
            list-style-type: none;
        }

        ul.lst-kix_list_5-1 {
            list-style-type: none;
        }

        .lst-kix_list_8-0 > li:before {
            content: "\0025cf   ";
        }

        ul.lst-kix_list_1-5 {
            list-style-type: none;
        }

        ul.lst-kix_list_5-2 {
            list-style-type: none;
        }

        ul.lst-kix_list_1-6 {
            list-style-type: none;
        }

        .lst-kix_list_8-7 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_3-8 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_8-5 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_8-6 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_8-3 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_3-6 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_3-7 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_8-4 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_8-8 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_5-0 > li:before {
            content: "\0025cf   ";
        }

        .lst-kix_list_4-8 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_5-3 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_4-7 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_5-2 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_5-1 > li:before {
            content: "o  ";
        }

        ul.lst-kix_list_4-8 {
            list-style-type: none;
        }

        .lst-kix_list_5-7 > li:before {
            content: "\0025aa   ";
        }

        ul.lst-kix_list_8-4 {
            list-style-type: none;
        }

        ul.lst-kix_list_8-5 {
            list-style-type: none;
        }

        ul.lst-kix_list_4-6 {
            list-style-type: none;
        }

        .lst-kix_list_5-6 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_5-8 > li:before {
            content: "\0025aa   ";
        }

        ul.lst-kix_list_8-2 {
            list-style-type: none;
        }

        ul.lst-kix_list_4-7 {
            list-style-type: none;
        }

        ul.lst-kix_list_8-3 {
            list-style-type: none;
        }

        ul.lst-kix_list_8-8 {
            list-style-type: none;
        }

        ul.lst-kix_list_8-6 {
            list-style-type: none;
        }

        ul.lst-kix_list_8-7 {
            list-style-type: none;
        }

        ul.lst-kix_list_4-0 {
            list-style-type: none;
        }

        ul.lst-kix_list_4-1 {
            list-style-type: none;
        }

        .lst-kix_list_5-4 > li:before {
            content: "\0025aa   ";
        }

        ul.lst-kix_list_4-4 {
            list-style-type: none;
        }

        .lst-kix_list_5-5 > li:before {
            content: "\0025aa   ";
        }

        ul.lst-kix_list_8-0 {
            list-style-type: none;
        }

        ul.lst-kix_list_4-5 {
            list-style-type: none;
        }

        ul.lst-kix_list_8-1 {
            list-style-type: none;
        }

        ul.lst-kix_list_4-2 {
            list-style-type: none;
        }

        ul.lst-kix_list_4-3 {
            list-style-type: none;
        }

        .lst-kix_list_6-1 > li:before {
            content: "o  ";
        }

        .lst-kix_list_6-3 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_6-0 > li:before {
            content: "\0025cf   ";
        }

        .lst-kix_list_6-4 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_6-2 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_6-8 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_6-5 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_6-7 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_7-0 > li:before {
            content: "\0025cf   ";
        }

        .lst-kix_list_6-6 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_2-6 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_2-7 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_7-4 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_7-6 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_2-4 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_2-5 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_2-8 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_7-1 > li:before {
            content: "o  ";
        }

        .lst-kix_list_7-5 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_7-2 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_7-3 > li:before {
            content: "\0025aa   ";
        }

        ul.lst-kix_list_7-5 {
            list-style-type: none;
        }

        ul.lst-kix_list_7-6 {
            list-style-type: none;
        }

        ul.lst-kix_list_7-3 {
            list-style-type: none;
        }

        ul.lst-kix_list_3-7 {
            list-style-type: none;
        }

        ul.lst-kix_list_7-4 {
            list-style-type: none;
        }

        ul.lst-kix_list_3-8 {
            list-style-type: none;
        }

        ul.lst-kix_list_7-7 {
            list-style-type: none;
        }

        ul.lst-kix_list_7-8 {
            list-style-type: none;
        }

        ul.lst-kix_list_3-1 {
            list-style-type: none;
        }

        ul.lst-kix_list_3-2 {
            list-style-type: none;
        }

        .lst-kix_list_7-8 > li:before {
            content: "\0025aa   ";
        }

        ul.lst-kix_list_3-0 {
            list-style-type: none;
        }

        ul.lst-kix_list_7-1 {
            list-style-type: none;
        }

        ul.lst-kix_list_3-5 {
            list-style-type: none;
        }

        ul.lst-kix_list_7-2 {
            list-style-type: none;
        }

        ul.lst-kix_list_3-6 {
            list-style-type: none;
        }

        ul.lst-kix_list_3-3 {
            list-style-type: none;
        }

        ul.lst-kix_list_7-0 {
            list-style-type: none;
        }

        .lst-kix_list_7-7 > li:before {
            content: "\0025aa   ";
        }

        ul.lst-kix_list_3-4 {
            list-style-type: none;
        }

        .lst-kix_list_4-0 > li:before {
            content: "\0025cf   ";
        }

        .lst-kix_list_4-1 > li:before {
            content: "o  ";
        }

        .lst-kix_list_4-4 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_4-3 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_4-5 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_4-2 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_4-6 > li:before {
            content: "\0025aa   ";
        }

        ul.lst-kix_list_6-6 {
            list-style-type: none;
        }

        ul.lst-kix_list_6-7 {
            list-style-type: none;
        }

        ul.lst-kix_list_6-4 {
            list-style-type: none;
        }

        ul.lst-kix_list_2-8 {
            list-style-type: none;
        }

        ul.lst-kix_list_6-5 {
            list-style-type: none;
        }

        ul.lst-kix_list_6-8 {
            list-style-type: none;
        }

        ul.lst-kix_list_2-2 {
            list-style-type: none;
        }

        .lst-kix_list_1-0 > li:before {
            content: "\0025cf   ";
        }

        ul.lst-kix_list_2-3 {
            list-style-type: none;
        }

        ul.lst-kix_list_2-0 {
            list-style-type: none;
        }

        ul.lst-kix_list_2-1 {
            list-style-type: none;
        }

        ul.lst-kix_list_6-2 {
            list-style-type: none;
        }

        ul.lst-kix_list_2-6 {
            list-style-type: none;
        }

        ul.lst-kix_list_6-3 {
            list-style-type: none;
        }

        .lst-kix_list_1-1 > li:before {
            content: "o  ";
        }

        .lst-kix_list_1-2 > li:before {
            content: "\0025aa   ";
        }

        ul.lst-kix_list_2-7 {
            list-style-type: none;
        }

        ul.lst-kix_list_6-0 {
            list-style-type: none;
        }

        ul.lst-kix_list_2-4 {
            list-style-type: none;
        }

        ul.lst-kix_list_6-1 {
            list-style-type: none;
        }

        ul.lst-kix_list_2-5 {
            list-style-type: none;
        }

        .lst-kix_list_1-3 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_1-4 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_1-7 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_1-5 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_1-6 > li:before {
            content: "\0025aa   ";
        }

        li.li-bullet-0:before {
            margin-left: -18pt;
            white-space: nowrap;
            display: inline-block;
            min-width: 18pt;
        }

        .lst-kix_list_2-0 > li:before {
            content: "\0025cf   ";
        }

        .lst-kix_list_2-1 > li:before {
            content: "o  ";
        }

        .lst-kix_list_1-8 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_2-2 > li:before {
            content: "\0025aa   ";
        }

        .lst-kix_list_2-3 > li:before {
            content: "\0025aa   ";
        }

        ol {
            margin: 0;
            padding: 0;
        }

        table td,
        table th {
            padding: 0;
        }

        .c8 {
            margin-left: 21.2pt;
            padding-top: 0pt;
            text-indent: 21.2pt;
            padding-bottom: 0pt;
            line-height: 1;
            orphans: 2;
            widows: 2;
            text-align: justify;
            height: 12pt;
        }

        .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Times New Roman";
            font-style: normal;
        }

        .c1 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Times New Roman";
            font-style: italic;
        }

        .c3 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1;
            orphans: 2;
            widows: 2;
            text-align: left;
        }

        .c9 {
            color: #000000;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Times New Roman";
            font-style: normal;
        }

        .c6 {
            color: #000000;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 13.5pt;
            font-family: "Times New Roman";
            font-style: normal;
        }

        .c7 {
            background-color: #ffffff;
            max-width: 451.3pt;
            padding: 72pt 72pt 72pt 72pt;
        }

        .c4 {
            margin-left: 36pt;
            padding-left: 0pt;
        }

        .c5 {
            padding: 0;
            margin: 0;
        }

        .c2 {
            font-weight: 700;
        }

        .title {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 36pt;
            padding-bottom: 6pt;
            font-family: "Times New Roman";
            line-height: 1;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: justify;
        }

        .subtitle {
            padding-top: 18pt;
            color: #666666;
            font-size: 24pt;
            padding-bottom: 4pt;
            font-family: "Georgia";
            line-height: 1;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: justify;
        }

        li {
            color: #000000;
            font-size: 12pt;
            font-family: "Times New Roman";
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 12pt;
            font-family: "Times New Roman";
        }

        h1 {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 6pt;
            font-family: "Times New Roman";
            line-height: 1;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: justify;
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-weight: 700;
            font-size: 18pt;
            padding-bottom: 4pt;
            font-family: "Times New Roman";
            line-height: 1;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: justify;
        }

        h3 {
            padding-top: 0pt;
            color: #000000;
            font-weight: 700;
            font-size: 13.5pt;
            padding-bottom: 0pt;
            font-family: "Times New Roman";
            line-height: 1;
            orphans: 2;
            widows: 2;
            text-align: left;
        }

        h4 {
            padding-top: 0pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 0pt;
            font-family: "Times New Roman";
            line-height: 1;
            orphans: 2;
            widows: 2;
            text-align: left;
        }

        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Times New Roman";
            line-height: 1;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: justify;
        }

        h6 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Times New Roman";
            line-height: 1;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: justify;
        }
    </style>

   
        <div class="container c7 doc-content">
            <p class="c3" id="h.gjdgxs">
                <span class="c9 c2">Press About the Project </span>
            </p>
            <p class="c3">
                <span class="c0"
                    >The legacy of Krystyna Bednarczyk and her Poets&rsquo; and
                    Painters&rsquo; Press continues to inspire researchers,
                    literary enthusiasts, and artists alike. Our project,
                    dedicated to unveiling her contributions to Polish and
                    British cultural heritage, has garnered significant
                    attention from academic circles and the press. Below, we
                    highlight key publications and articles reflecting on
                    Bednarczyk&rsquo;s remarkable impact.</span
                >
            </p>
            <h3 class="c3">
                <span class="c6 c2">Academic and Media Coverage</span>
            </h3>
            <h4 class="c3">
                <span class="c2">Scholarly Articles &amp; Publications</span>
            </h4>
            <ul class="c5 lst-kix_list_5-0 start">
                <li class="c3 c4 li-bullet-0">
                    <span class="c1"
                        >About Krystyna Bednarczyk and Her Poets&rsquo; and
                        Painters&#39; Press</span
                    ><span class="c0"
                        >&nbsp;&ndash; Contributions by Caryl Topolski,
                        Magdalena Czajkowska, Aleksandra D&#261;browska,
                        Mieczys&#322;awa Wazacz, and Anna Frajlich. Featured in
                    </span><span class="c1">Pami&#281;tnik Literacki</span><span
                        class="c0"
                        >&nbsp;(Vol. LXVI, December 2023), this collection of
                        essays presents reflections from the International
                        Symposium on Krystyna Bednarczyk, co-organised by the
                        Research Centre on the Legacy of Polish Migration
                        (ReCeLPM), the Union of Polish Writers Abroad (ZPPnO),
                        University College London School of Slavonic and East
                        European Studies (UCL SSEES), and the Polish University
                        Abroad (PUNO).</span
                    >
                </li>
                <li class="c3 c4 li-bullet-0">
                    <span class="c1"
                        >The Bednarczyk Duo and Their Poets&rsquo; and
                        Painters&rsquo; Press. Hidden Between Covers</span
                    ><span class="c0"
                        >&nbsp;&ndash; Justyna Gorzkowicz explores the artistic
                        and literary influence of the Bednarczyks in
                    </span><span class="c1"
                        >Sztuka Edycji. Studia Tekstologiczne i Edytorskie</span
                    ><span class="c0"
                        >&nbsp;(2025, Vol. 26, Issue 2, pp. 63&ndash;75).
                        https://doi.org/10.12775/SE.2024.0025</span
                    >
                </li>
            </ul>
            <h4 class="c3"><span class="c2">Press Features</span></h4>
            <ul class="c5 lst-kix_list_6-0 start">
                <li class="c3 c4 li-bullet-0">
                    <span class="c0">Katarzyna Zechenter, </span><span
                        class="c1">Dla Krystyny Bednarczykowej</span
                    ><span class="c0">, </span><span class="c1"
                        >Tydzie&#324; Polski</span
                    ><span class="c0"
                        >, London (22.12.2023) &ndash; A tribute to Krystyna
                        Bednarczyk. Available via ZPPnO&rsquo;s website:
                        https://www.zppno.org/aktualnosci/krystyna-bednarczyk-i-jej-oficyna/</span
                    >
                </li>
                <li class="c3 c4 li-bullet-0">
                    <span class="c0">Katarzyna Bzowska, </span><span class="c1"
                        >Krystyna i Feliks</span
                    ><span class="c0">, </span><span class="c1"
                        >Tydzie&#324; Polski</span
                    ><span class="c0"
                        >, London (17.05.2024) &ndash; Exploring the life and
                        work of Krystyna and Feliks Bednarczyk. Available at
                        ZPPnO:
                        https://www.zppno.org/aktualnosci/sladami-bednarczykow-i-feliksa-topolskiego/</span
                    >
                </li>
                <li class="c3 c4 li-bullet-0">
                    <span class="c0">Ma&#322;gorzata Witkowska, </span><span
                        class="c1">Krystyna Bednarczyk i jej Oficyna</span
                    ><span class="c0"
                        >&nbsp;(n.d.), an insightful overview of
                        Bednarczyk&rsquo;s publishing house. Available at:
                        https://puno.ac.uk/krystyna-bednarczyk-i-jej-oficyna/</span
                    >
                </li>
            </ul>
            <h4 class="c3">
                <span class="c2">Events &amp; Guided Tours</span>
            </h4>
            <ul class="c5 lst-kix_list_7-0 start">
                <li class="c3 c4 li-bullet-0">
                    <span class="c1"
                        >Bednarczyk&#39;s Press &amp; Feliks Topolski &ndash;
                        Guided Tour</span
                    ><span class="c0"
                        >&nbsp;(UCL SSEES) &ndash; An in-depth exploration of
                        the artistic and literary scene under the Waterloo
                        Arcades.
                        https://www.ucl.ac.uk/ssees/events/2024/may/bednarczyks-press-feliks-topolski-guided-tour</span
                    >
                </li>
                <li class="c3 c4 li-bullet-0">
                    <span class="c1"
                        >Unveiling the Heritage: Krystyna Bednarczyk
                        (1923&ndash;2011)</span
                    ><span class="c0"
                        >&nbsp;&ndash; A retrospective on her life and
                        contributions, featured in
                    </span><span class="c1">Biuletyn Polonistyczny</span><span
                        class="c0"
                        >.
                        https://www.biuletynpolonistyczny.pl/en/projects/unveiling-the-heritage-krystyna-bednarczyk-19232011-polish-poet-and-co-founder-of-poets-and-painters-press-in-london,1849/details</span
                    >
                </li>
                <li class="c3 c4 li-bullet-0">
                    <span class="c0"
                        >Justyna Gorzkowicz &amp; Jaros&#322;aw Solecki,
                    </span><span class="c1"
                        >We built the AR Heritage App for &#39;Unveiling the
                        Heritage of Krystyna Bednarczyk&#39; project!</span
                    ><span class="c0"
                        >&nbsp;&ndash; A digital initiative to bring
                        Bednarczyk&rsquo;s legacy to new audiences.
                        https://bluepointart.uk/ar-heritage-app/</span
                    >
                </li>
            </ul>
            <h3 class="c3">
                <span class="c2">International Conferences</span>
            </h3>
            <ul class="c5 lst-kix_list_8-0 start">
                <li class="c3 c4 li-bullet-0">
                    <span class="c1"
                        >Literatura w ruchu &ndash; o dzia&#322;alno&#347;ci
                        londy&#324;skiego Zwi&#261;zku Pisarzy Polskich</span
                    ><span class="c0"
                        >&nbsp;&ndash; Justyna Gorzkowicz discusses Polish
                        literature&rsquo;s global impact at the conference
                    </span><span class="c1"
                        >Literatura polska w &#347;wiecie. &#346;wiatowe
                        transfery literatury polskiej</span
                    ><span class="c0"
                        >&nbsp;(19&ndash;20 November 2024, University of
                        Silesia).</span
                    >
                </li>
            </ul>
            <h3 class="c3"><span class="c2">Stay Updated</span></h3>
            <p class="c3">
                <span class="c0"
                    >For the latest updates on the project, upcoming events, and
                    newly published research, visit our official page:
                    https://www.zppno.org/project-bednarczyk/</span
                >
            </p>
            <p class="c8"><span class="c0"></span></p>
        </div>
   
</Layout>
